# frontend/.env

VITE_API_URL=http://localhost:8000
VITE_SUPABASE_URL=https://oynyrarroliyftdfwmyb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im95bnlyYXJyb2xpeWZ0ZGZ3bXliIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgzMzI0NzEsImV4cCI6MjEwMzkwODQ3MX0.3ElmKPbSiarmb1aR_rNaR3gClYLk0Z9MeAZWJpypJWI 