# ==============================

# CORE API

# ==============================

fastapi
uvicorn[standard]

# ==============================

# CONFIGURATION

# ==============================

pydantic-settings
python-dotenv

# ==============================

# DATABASE

# ==============================

sqlmodel
psycopg[binary]
alembic

# ==============================

# SECURITY & AUTHENTICATION

# ==============================

pwdlib[argon2]
PyJWT

# ==============================

# EMAIL

# ==============================

resend

# ==============================

# HTTP CLIENT

# ==============================

httpx

# ==============================

# FILE VALIDATION

# ==============================

python-multipart

# ==============================

# REALTIME

# ==============================

websockets

# ==============================

# SOCKET.IO

# Install only when we decide

# to implement Socket.IO

# ==============================

python-socketio
psycopg2